:root {
  --clr-bg-primary: #36384d;
  --clr-check-avatar: #ff5e54;
  --clr-primary: #232742;
  --clr-bg-neutral: hsl(0, 0%, 100%);
  --clr-neutral-inactive: hsl(0, 0%, 70%);
  --clr-pink-100: hsl(350, 80%, 60%);
  --clr-orange-100: hsl(30, 90%, 50%);
  --clr-accent-shadow: hsla(5, 60%, 50%, 0.8);
  --clr-error-100: hsl(0, 70%, 50%);
  --clr-bg-error-100: hsl(10, 90%, 95%);
}

* {
  box-sizing: border-box;
  padding-inline-start: unset;
}

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Roboto-Bold.ttf");
}
body {
  background-color: var(--clr-bg-primary);
  font-size: 12pt;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--clr-primary);
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
}

.content {
  background-color: var(--clr-bg-neutral);
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-width: 1000px;
  gap: 4em;
}
@media (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    padding: 0;
    max-width: 375px;
    border-radius: 0;
    gap: 1em;
  }
}

@media (max-width: 768px) {
  .newsletter-details {
    padding: 1.4em;
  }
}
.newsletter-details__title {
  font-size: 3.5rem;
}
@media (max-width: 768px) {
  .newsletter-details__title {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 2.5rem;
  }
}
.newsletter-details__items {
  list-style: none;
  gap: 1em;
  display: flex;
  flex-direction: column;
  margin-block: 2em;
}
.newsletter-details__items span {
  margin-left: 1em;
}
.newsletter-details__form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 3em;
}

.helper-graphic .mobile-graphic {
  display: none;
}
@media (max-width: 768px) {
  .helper-graphic .desktop-graphic {
    display: none;
  }
  .helper-graphic .mobile-graphic {
    display: block;
  }
}

footer {
  background-color: var(--clr-primary);
  width: 100%;
  font-size: 0.8rem;
  padding: 1em;
  color: var(--clr-bg-neutral);
  opacity: 0.85;
  letter-spacing: 0.1ch;
}
footer .attribution {
  text-align: center;
}
footer .attribution a {
  color: var(--clr-bg-neutral);
}

ul li > * {
  vertical-align: middle;
}

.label {
  font-size: 0.9rem;
}

button {
  border: none;
  border-radius: 8px;
  padding: 1em 0.8em;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  margin-block: 1em;
  cursor: pointer;
}
button.primary {
  --clr-from: var(--clr-primary);
  --clr-to: var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-bg-neutral);
  background-image: linear-gradient(to right, var(--clr-from), var(--clr-to));
}
button.primary:hover:not(:disabled) {
  --clr-from: var(--clr-pink-100);
  --clr-to: var(--clr-orange-100);
  box-shadow: 5px 15px 40px 0px var(--clr-accent-shadow);
}
button:disabled {
  background-color: var(--clr-neutral-inactive);
}

input {
  border: 1px solid var(--clr-neutral-inactive);
  border-radius: 10px;
  padding: 1em;
  color: var(--clr-primary);
  font-size: 1.1rem;
}
input.error {
  color: var(--clr-error-100);
  border-color: var(--clr-error-100);
  background-color: var(--clr-bg-error-100);
}

.email-label {
  display: flex;
  justify-content: space-between;
}
.email-label .email-error-message {
  display: none;
  color: var(--clr-error-100);
}
.email-label .email-error-message.show {
  display: inline;
}

.hide {
  display: none;
}

.check {
  width: 22px;
  padding: 4px;
  border-radius: 50%;
  background-color: var(--clr-check-avatar);
}

.success-modal {
  display: none;
  border-radius: 20px;
  padding: 3em 4em;
  max-width: 500px;
  background-color: var(--clr-bg-neutral);
  color: var(--clr-primary);
}
.success-modal__title {
  font-size: 3.5rem;
  margin-top: 0.6em;
  margin-bottom: 0.1em;
}
.success-modal.show {
  display: flex;
  flex-direction: column;
}
.success-modal .check {
  width: 60px;
}
@media (max-width: 768px) {
  .success-modal {
    border-radius: 0;
    height: 95vh;
  }
  .success-modal__title {
    font-size: 2.5rem;
  }
  .success-modal__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
