$orangeRaspberry: #ff5e54;
$nightBlue: #36384d;
$midnightBlue: #232742;

$clr-white-100: hsl(0, 0%, 100%);
$clr-white-90: hsl(0, 0%, 90%);
$clr-white-80: hsl(0, 0%, 80%);
$clr-white-70: hsl(0, 0%, 70%);

$clr-orange-100: hsl(30, 90%, 50%);
$clr-red-55: hsl(5, 60%, 50%, .8);
$clr-pink-100: hsl(350, 80%, 60%);
$clr-red-50: hsl(0, 70%, 50%);
$clr-red-100: hsl(10, 90%, 95%);

:root {
  --clr-bg-primary: #{$nightBlue};
  --clr-check-avatar: #{$orangeRaspberry};
  --clr-primary: #{$midnightBlue};
  --clr-bg-neutral: #{$clr-white-100};
  --clr-neutral-inactive: #{$clr-white-70};
  --clr-pink-100: #{$clr-pink-100};
  --clr-orange-100: #{$clr-orange-100};
  --clr-accent-shadow: #{$clr-red-55};
  --clr-error-100: #{$clr-red-50};
  --clr-bg-error-100: #{$clr-red-100};
}

* {
  box-sizing: border-box;
  padding-inline-start: unset;
}

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Roboto-Regular.ttf');
}

/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Roboto-Bold.ttf');
}

body {
  background-color: var(--clr-bg-primary);
  font-size: 12pt;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--clr-primary);
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
}

.content {
  background-color: var(--clr-bg-neutral);
  border-radius: 20px;
  padding: 1.5rem;

  display: flex;
  flex-direction: row;
  overflow: auto;
  max-width: 1000px;
  gap: 4em;
}

.newsletter-details {

  &__title {
    font-size: 3.5rem;
  }

  &__items {
    list-style: none;
    gap: 1em;
    display: flex;
    flex-direction: column;
    margin-block: 2em;

    span {
      margin-left: 1em;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 3em;
  }

}


footer {
  background-color: var(--clr-primary);
  width: 100%;

  font-size: .8rem;
  padding: 1em;
  color: var(--clr-bg-neutral);
  opacity: .85;
  letter-spacing: .1ch;

  .attribution {
    text-align: center;

    a {
      color: var(--clr-bg-neutral);
    }
  }
}


ul li > * {
  vertical-align: middle;
}

.label {
  font-size: .9rem;
}

button {
  border: none;
  border-radius: 8px;
  padding: 1em .8em;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  margin-block: 1em;
  cursor: pointer;

  &.primary {
    background-color: var(--clr-primary);
    color: var(--clr-bg-neutral);

    &:hover:not(:disabled) {
      background-image: linear-gradient(to right, var(--clr-pink-100), var(--clr-orange-100));
      box-shadow: 5px 15px 40px 0px var(--clr-accent-shadow);
    }
  }

  &:disabled {
    background-color: var(--clr-neutral-inactive);
  }
}

input {
  border: 1px solid var(--clr-neutral-inactive);
  border-radius: 10px;
  padding: 1em;
  color: var(--clr-primary);
  font-size: 1.1rem;

  &.error {
    color: var(--clr-error-100);
    border-color: var(--clr-error-100);
    background-color: var(--clr-bg-error-100);
  }
}

.email-label {

  display: flex;
  justify-content: space-between;

  .email-error-message {
    display: none;
    color: var(--clr-error-100);
  
    &.show {
      display: inline;
    }
  }
}

.hide {
  display: none;
}

.check {
  width: 22px;
  padding: 4px;
  border-radius: 50%;
  background-color: var(--clr-check-avatar);
}

.success-modal {
  display: none;
  border-radius: 20px;
  padding: 3em 4em;
  max-width: 500px;
  background-color: var(--clr-bg-neutral);
  color: var(--clr-primary);

  &__title {
    font-size: 3.5rem;
    margin-top: 0.6em;
    margin-bottom: 0.1em;
  }

  &.show {
    display: flex;
    flex-direction: column;
  }

  .check {
    width: 60px;
  }

}